nav {
  display: flex;
}
nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

nav ul li {
  flex-direction: row;
  padding: 0.1rem;
}

nav ul li a {
  text-decoration: none;
  justify-content: space-evenly;
}